@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); /* Libre Baskerville */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1b1d1c;
    align-items: center;
    text-align: center;
    justify-content: center;
}


h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: 200;
    color: white;
    margin: 4.5rem auto 7rem;
}

.button{
    z-index: 1000;
    width: 14rem;
    height: 14rem;
    margin: 0rem 2rem 2rem 0rem;
    border: solid 2px #000000;
    background: white;
    border-radius: 20px;
    border: solid 3px white;
    cursor: pointer;
}

.button:hover{
    border-radius: 25px;
    transition-duration: 200ms;
}

.button:active{
    opacity: 0.5;
}

.b1{
    background-color: #1BD972;
}

.b2{
    background-color: #F8442B;
}

.b3{
    background-color: #efec25;
}

.b4{
    background-color: #23A1DF;
}